<a href="https://colab.research.google.com/github/min03027/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EC%A1%B0%EA%B1%B4%EB%AC%B8_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#백준 1330 두 수 비교하기

In [ ]:
 for i in range(3):
   a,b = map(int,input().split())
   if a > b:
     print(">")
   elif a ==b:
    print("==")
   else :
    print("<")

1 2
<
10 2
>
5 5
==

내코드 : 컴파일 오류

In [ ]:
A, B = map(int,input().split())
if A>B:
	print(">")
elif A<B:
	print("<")
elif A==B:
	print("==")

이후 수정 코드

#백준 9498 시험 성적

In [ ]:
score = int(input())
if 100>= score >= 90 :
  print("A")
elif 89>= score >= 80 :
  print("B")
elif 79>= score >= 70 :
  print("C")
elif 69>= score >= 60 :
  print("D")
else :
  print("F")

100
A

#백준 2753 윤년

In [ ]:
year= int(input())
if year > 4000 or year <1 :
  print("다시 입력하세요")
if (year%4==0 and year%100!=0) or year%400==0 :
  print("1")
else :
  print("0")

1999
0

# 백준 사분면 고르기  14681

In [ ]:
a = int(input())
b = int(input())
if a > 0 :
  if b >0 :
    print("1")
  else :
    print("4")
else :
  if b >0:
    print("2")
  else :
    print("3")

12
5
1

## 알람 시계 2884
재미있는 문제 !!!

In [ ]:
H,M = map (int,input().split())
if M >= 45:
  print(H,(M-45))
elif H != 0 and M < 45 :
  print((H-1),(M+15))
else :
  print("23",(M+15))

23 40
22 55

# 오븐 시계 2525

In [ ]:
A,B = map(int, input().split())
C = int(input())
T = (B+C)//60
M = (B+C)%60
if A+T==24:
  print(0,M)
else:
  print(A+T,M)

23 48
25
0 13

위에는 왜.. 안될까?

In [ ]:
A,B = map(int, input().split())
C = int(input())
A += C // 60
B += C % 60

if B >= 60:
  A += 1
  B -= 60

if A >=24:
  A -= 24

print(A,B)

23 48
25
0 13

##주사위 세개 2480

In [ ]:
a,b,c = map(int, input().split())
num = [a,b,c]
if a==b==c:
  print(10000+a*1000)
elif a==b or b==c or a==c :
  if a==b or b==c:
    print(1000+b*100)
  elif a==c:
    print(1000+a*100)
else :
  result = max(num)
  print(int(result)*100)

6 2 5
600