<a href="https://colab.research.google.com/github/min03027/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EC%9D%BC%EB%B0%98%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#2745번 진법 변환

In [2]:
N, B = input().split()
ary = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"

N = N[::-1]
result = 0

for i,n in enumerate(N):
  result +=(int(B)**i)*(ary.index(n))
print(result)

ZZZZZ 36
60466175

1. enumerate함수에 대한 설명
https://www.entity.co.kr/entry/512-%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%9D%98-Enumerate-%ED%95%A8%EC%88%98-%EB%A3%A8%ED%94%84-%ED%8A%9C%ED%94%8C-%EB%AC%B8%EC%9E%90%EC%97%B4

#11005번 진법 변환2

In [5]:
N,B = map(int,input().split())
ary = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
s = ''

while N:
  s += str(ary[N%B])
  N //= B
#//= 왼쪽 변수에 오른쪽 값을 나눈 후 그 몫을 왼쪽 변수에 할당한다
print(s[::-1])

60466175 36
ZZZZZ

#2720번 세탁소 사장 동혁

In [8]:
T = int(input())
Quarter=0
Dime=0
Nickel= 0
num = 0
for i in range(T):
  C = int(input())
  Quarter,num = divmod(C,25)
  Dime,num = divmod(num,10)
  Nickel,num = divmod(num,5)
  print(Quarter,Dime,Nickel,num)

3
124
4 2 0 4
25
1 0 0 0
194
7 1 1 4

#2903번 중앙 이동 알고리즘

In [10]:
print((2**int(input())+1)**2)

1
9

#2292번 벌집

In [14]:
n = int(input())
room = 1
count = 1
while n >room:
  room +=6*count
  count+=1

print(count)

13
3

6을 기준으로 6씩 늘어갈 수록 건너야 하는 방의 개수가 늘어난다.

#1193번 분수찾기*

In [15]:
num = int(input())
line = 1
while num > line:
  num -= line
  line += 1
if line%2==0:
  fir = num
  sec = line - num +1
elif line %2 ==1:
  fir = line - num +1
  sec = num

print(fir,'/',sec,sep="")

1
1/1

2. 해당 문제의 배열에 대한 접근법
https://abcdefgh123123.tistory.com/186

#2869번 달팽이는 올라가고 싶다

In [17]:
a,b,v = map(int,input().split())
height =0
day = 0
if height<= v:
  day += 1
  height += a
  if height == v:
    print(day)
  else :
    height -= b

2 1 5

반복문을 사용하지 않고 진행해야한다 !!

In [22]:
a,b,v = map(int,input().split())
if (v-b)%(a-b)==0:
  print((v-b)//(a-b))
else:
  print((v-b)//(a-b)+1)

5 1 6
2