<a href="https://colab.research.google.com/github/min03027/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#27866번 문자와 문자열

In [ ]:
word=input()
num = int(input())
print(word[num-1])

sprout
3
r

#2743번 단어 길이 재기

In [ ]:
word = input()
print(len(word))

pulljima
8

#9086번 문자열

In [ ]:
num = int(input())
for i in range(num):
  test_case = input()
  a = len(test_case)
  print(test_case[0]+test_case[a-1])

3
agfgfs
as
00
00
ag
ag

#11654번 아스키 코드

In [ ]:
word = input()
print(ord(word))

A
65

#11720번 숫자의 합

In [ ]:
n = int(input())
a= list(map(int,input()))
print(sum(a))

#10809번 알파벳 찾기

In [ ]:
s = input()
for i in range(25):
  if j not in list:
    print("-1")
  else:
    print(s.find(x))

find를 찾아쓴 것 까지 좋은 접근 !!

In [ ]:
s = input()
for x in 'abcdefghijklmnopqrstuvwxyz':
  print(s.find(x),end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

#2675번 문자열 반복

In [ ]:
T = int(input())
for i in range(T):
  r ,s = input().split()
  r= int(r)
  s = str(s)
  for i in range(len(s)):
    print(s[i]*r,end='')
  print('')

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

문자열 슬라이싱을 유념할 것 !!!

#1152번 단어의 개수

In [ ]:
sentence =input()
no_space = sentence.strip()
a= no_space.count(' ')
print(a+1)

The last character is a blank
6

내가 풀이한 답

In [ ]:
word = input().split()
print(len(word))
#print(len(input().split()))

정답

#2908번 상수

In [ ]:
a,b = input().split()
re_a = (str(a)[::-1])
re_b = (str(b)[::-1])
if re_a > re_b:
  print(re_a)
else:
  print(re_b)

734 893
437

#5622번 다이얼

In [ ]:
word = input()
n =[]
sum = 2
for i in word:
  n.append(ord(i)-64)
print(n)

WA
[23, 1]

In [ ]:
dial = [ABC,DEF,GHI,JKL,MNO,PQRS,TUV,WXYZ]
sum = 2
word = input()
for i in range(len(word)):
  if word(i) in dial:
    sum =+

내가한것

In [4]:
dial = ['','ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
word = str(input())
time = 0
for j in range(len(word)):
  for i in range(len(dial)):
    if word[j] in dial[i]:
      time += dial.index(dial[i])+2
print(time)

WA
13

다시 해보기

#11718번 그대로 출력하기

In [8]:
word = input()
print(word)

Hello \n Baekjoon \n Online Judge
Hello \n Baekjoon \n Online Judge

In [ ]:
import sys
s = sys.stdin.readlines()
for i in s:
    print(i.rstrip())

수정 구문