<a href="https://colab.research.google.com/github/min03027/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#10807번 개수 세기*
다시 풀어보기 !!

In [3]:
N = int(input())
num= list(input().split())
V = int(input())
count = num.count(V)
print(count)

11
1 4 1 2 4 2 4 2 3 4 4
2
0

나의 코드

In [4]:
N = int(input())
n_list = list(map(int,input().split()))
v=int(input())
print(n_list.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

수정 코드

#10871번 X보다 작은 수

In [9]:
N, X = map(int,input().split())
a_list = list(map(int,input().split()))
for i in range(N):
  if a_list[i] < X:
   print(a_list[i],end=' ')

# for i in range 주목 !!

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

#10818번 최소, 최대

In [12]:
N = int(input())
n_list = list(map(int,input().split()))
print(min(n_list), end =' ')
print(max(n_list))

5
20 10 35 30 7
7 35

#2562번 최댓값*

In [17]:
a_list = []
for i in range(9):
  a = int(input())
  a_list.append(a)
print(max(a_list))
print(a_list.index(max(a_list))+1)

3
29
38
12
57
74
40
85
61
85
8

#10810번 공 넣기**

In [ ]:
n, m = map(int,input().split())
list = []
list=[0 for i in range(n)]
for i in range (m):
  i,j,k = map(int,input().split())

In [20]:
n, m = map(int,input().split())
list = [0] * (N+1)

for _ in range (m):
  i,j,k = map(int,input().split())
  for a in range(i,j+1):
    list[a] = k

for i in range(1, N+1):
  print(list[i], end=' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

런타임 에러

In [ ]:
N, M = map(int, input().split())
basket = [0 for _ in range(N)]

for _ in range(M):
    i,j,k = map(int, input().split())
    for n in range(i,j+1):
        basket[n-1] = k

for n in range(N):
    print(basket[n], end = ' ')

제출 코드 꼭 다기 보기,,,

#10813번 공 바꾸기**

In [4]:
N, M = map(int,input().split())
basket = [1 for _ in range(N)]
temp =0
temp_list = 0

for _ in range(M):
  i,j=map(int,input().split())
  i = temp
  i = j
  j = temp
  basket[i] = temp_list
  basket[i]= basket[j]
  basket[j] = temp_list

print(basket)

5 4
1 2
3 4
1 4
2 2
[0, 1, 0, 1, 0]

원래코드

In [ ]:
N,M = map(int, input().split())

basket = [i for i in range(1,N+1)]

for i in range(M):
    i,j = map(int, input().split())
    basket[i-1], basket[j-1] = basket[j-1], basket[i-1]

for i in range(N):
    print(basket[i], end = ' ')

파이썬은 temp선언 없이 바꿀 수 있음
* 중요 문제 다시 풀어보기

#5597번 과제 안 내신 분..?

In [7]:
stu = [1 for i in range (1,31)]
print(stu)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [8]:
stu = [i for i in range (1,31)]
print(stu)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [11]:
stu = [i for i in range (1,31)]
for i in range(28):
  num = int(input())
  if num in stu:
    stu.remove(num)

print(stu[0])
print(stu[1])

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

#3052번 나머지

In [18]:
list =[]
for i in range (10):
  a = int(input())
  v = a%42
  for v in list:
    if v not in list:
        list.append(v)
size = len(list)
if size ==0:
  size =+ 1
print(size)

42
84
252
420
840
42
42
42
42
42
1

set에서 중복 제거가 되지 않는 이유??

In [ ]:
arr = []
for i in range(10):
    a = int(input())
    arr.append(a % 42)
print(len(set(arr)))

제출 코드.....

#10811번 바구니 뒤집기***
문제이해에서 난관 봉착

In [19]:
N,M = map(int, input().split())

basket = [i for i in range(1,N+1)]

for i in range(M):
    i,j = map(int, input().split())
    temp = basket[i-1:j]
    temp.reverse()
    basket[i-1:j]= temp

for i in range(N):
    print(basket[i], end = ' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

#1546번 평균

In [27]:
N = int(input())
score =[]
score = list(map(int,input().split()))
ave = sum(score) / len(score)
print(ave)

40 60 80

TypeError: ignored

문제 이해 부족 보충 필요

In [ ]:
N = int(input())
score = list(map(int, input().split()))
M = max(score)
sum = 0

for i in range(N):
    score[i] = score[i]/M*100
    sum += score[i]

avg = sum/N
print(avg)