<a href="https://colab.research.google.com/github/min03027/BAEKJOON/blob/main/%EB%B0%B1%EC%A4%80_%EB%B0%98%EB%B3%B5%EB%AC%B8_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2739번 구구단

In [15]:
N = int(input())
for i in range(1,10):
  num = '%d * %d = %d'%(N,i,N*i)
  print(num)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

# 10950번 A+B-3

In [23]:
T = int(input())
for i in range (T):
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

# 8393번 합

In [26]:
n = int(input())
sum = 0
for i in range (1,n+1):
  sum += i
print(sum)

3
6

#25304번 영수증

In [25]:
X = int(input())
N = int(input())
price = 0
for i in range (N):
  a,b = map(int,input().split())
  price += a*b
if price == X:
  print ("Yes")
else:
  print("No")

250000
2
1000 1
1000 2
No

#25314번 코딩은 체육과목 입니다

In [31]:
N = int(input())
for i in range (N//4):
  print("long",end=' ')

print("int")

4
long int

#15552 빠른 A+B

In [43]:
import sys
t = int(sys.stdin.readline())

for i in range(t):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)

ValueError: ignored

In [ ]:
import sys
t = int(sys.stdin.readline())

for i in range(t):
    a,b = map(int, sys.stdin.readline().split())
    print(a+b)

#11021번 A+B-7

In [49]:
T = int(input())
for i in range (1,T+1):
  a,b=map(int,input().split())
  case = 'Case #%d: %d'%(i,a+b)
  print(case)

2
1 1
Case #1: 2
2 3
Case #2: 5

#11022번 A+B-8

In [51]:
T = int(input())
for i in range (1,T+1):
  a,b=map(int,input().split())
  case = 'Case #%d: %d + %d = %d'%(i,a,b,a+b)
  print(case)

2
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5

#2438번 별 찍기 -1

In [64]:
N = int(input())
for i in range (N):
  for j in range (i+1):
    print("*",end='')
  print(" ")

3
*
**
***

#2439번 별 찍기 -2

In [68]:
N = int(input())
for i in range (N):
  for j in range (N-i-1):
    print(" ",end='')
  for j in range (i+1):
    print("*",end='')
  print(" ")

5
    *
   **
  ***
 ****
*****

#10952번 A+B-5

In [70]:
while True:
  a,b=map(int,input().split())
  if a==0 and b==0:
    break
  else:
    print(a+b)

1 1
2
2 3
5
0 0

#10951번 A+B-4
꼭 다시 한번 확인하기

In [75]:
for i in range (5):
  a,b=map(int,input().split())
  print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

나의 코드

In [76]:
while True:
    try:
        a, b = map(int, input().split())
    except:
        break
    print(a+b)

1 1
2
2 3
5
3 4
7
5 2
7

수정 코드